<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container"><a class="navbar-brand" href="#page-top">CRC</a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase">
                <li class="nav-item"><a class="nav-link" href="#services">가이드라인</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">사진 업로드</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image: url('../static/assets/img/team/header2-bg.jpg');">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span><br>차량 수리비의 새로운 패러다임&nbsp;&nbsp;<br><br><br>C R C<br><br>&nbsp;</span></div>
            <div class="intro-heading text-uppercase"><span></span></div>
            <a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services">START</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
  <div class="row">
    <div class="col-lg-12 col-xxl-12 text-center">
      <h2 class="text-uppercase section-heading">사진 촬영 가이드라인:</h2>
      <h3 class="text-muted section-subheading"></h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h4 class="section-heading">정확한 결과를 위해, 1M(성인 남성 기준 1.5걸음) 밖에서 촬영해 주세요.</h4>
      <p class="text-muted">파손된 부위가 잘 보일 수 있도록 정면에서 촬영해주세요. 단! 사진을 확대해서 찍으면 안됩니다.</p>
    </div>
    <div class="col-md-4">
      <h4 class="section-heading">빛 반사를 방지하기 위해, 사진 촬영 시 밝은 광원이나 빛이 반사되지 않도록 주의해주세요.</h4>
      <p class="text-muted">적절한 조명을 활용하여 파손 부위가 잘 보일 수 있게 해주세요.</p>
      <a class="btn btn-primary btn-xl text-uppercase" role="button" href="#portfolio">UPLOAD</a>
    </div>
    <div class="col-md-4">
      <h4 class="section-heading">사진에 다른 부품의 파손 부위가 찍히지 않도록 주의해주세요.</h4>
      <p class="text-muted">사진 파일을 업로드 및 제출을 한 후 차종과 부위를 선택한 뒤 다시 한 번 제출해주세요. </p>
    </div>
  </div>
</div>
</section>
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading" id="upupload">사진 업로드</h2>
                <h1>&nbsp;&nbsp;</h1>
                <h1></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal2"
                                                             data-bs-toggle="modal"></a></div>
        </div>
    </div>
    <div class="container">
        <div class="container px-4 text-center">
            <div class="row gx-5">

                <div class="col">
                    <div class="p-3">
                        <form action="/upload_photos" method="post" enctype="multipart/form-data">
                            <input type="file" name="photo" multiple><br>
                            <input type="submit" value="submit">
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <form action="/upload_option" method="post">
                            <label for="pet-select">Choose your Model:</label>

                            <select name="car_model" id="pet-select">
                                <option value="">--Please choose an option--</option>
                                <option value="Sonata">Sonata</option>
                                <option value="hyundai">Cat</option>

                            </select><br>

                            <label for="option1">op1：</label>
                            <input type="checkbox" id="option1" name="options" value="value1"><br>
                            <label for="option2">op2：</label>
                            <input type="checkbox" id="option2" name="options" value="value2"><br>
                            <label for="option3">op3：</label>
                            <input type="checkbox" id="option3" name="options" value="value3"><br>
                            <button type="submit">submit</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>

    </div>
    </div>
</section>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img
                                class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/1-full.jpg">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-unstyled">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img
                                class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/2-full.jpg">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-unstyled">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal3">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img
                                class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/3-full.jpg">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-unstyled">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img
                                class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/4-full.jpg">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-unstyled">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal5">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img
                                class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/5-full.jpg">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-unstyled">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal6">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img
                                class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/6-full.jpg">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-unstyled">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/assets/js/agency.js"></script>
</body>

</html>